body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:0px;
  width:529px;
  height:940px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:940px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:504px;
  top:38px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:520px;
  top:210px;
  width:90px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:597px;
  top:98px;
  width:37px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:597px;
  top:98px;
  width:42px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:634px;
  top:99px;
  width:84px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:503px;
  top:94px;
  width:215px;
  height:34px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:503px;
  top:90px;
  width:156px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
