body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:0px;
  width:529px;
  height:940px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:940px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:495px;
  top:110px;
  width:215px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:506px;
  top:102px;
  width:180px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:506px;
  top:40px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
