body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:0px;
  width:529px;
  height:940px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:940px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:526px;
  top:877px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:950px;
  top:877px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:510px;
  top:40px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:550px;
  top:390px;
  width:290px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:878px;
  top:390px;
  width:120px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:500px;
  top:556px;
  width:490px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:625px;
  top:870px;
  width:60px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:500px;
  top:616px;
  width:498px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
