body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:0px;
  width:529px;
  height:940px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:940px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:819px;
  top:287px;
  width:170px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:510px;
  top:860px;
  width:510px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:840px;
  top:380px;
  width:180px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
